
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}



<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Modal1">
    YARDIM İÇİN TIKLAYINIZ
</button>
<div class="modal" id="Modal1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Yardım İçin İletişim Bilgileri</h2>
            </div>
            <form>
                <div class="modal-body">
                    <label>
                       Eslem Meğreli
                    </label>
                    </br>
                    </br>
                    <label>
                        Telefon no:(+90) 544 923 02 25
                    </label>
                    </br>
                    </br>
                    <label>
                        E-Posta: eslemmegreli@gmail.com
                    </label>
               
                    </br>
                   
                </div>
            </form>
        </div>
    </div>
</div>

